<div class="mobile-wrapper is-hidden">
    <div class="mobile-container" data-menu>
        <div class="div-stephen">
            <img src="./images/Stephen.png" class="stephen" alt="stephen">
            <p class="text-stephen" id="text-stephen"></p>
        </div>
        <ul class="list-burger">
            <li class="nav-item nav-item-current" data-page="index">
                <a href="./index.html" class=" nav-link">HOME</a>
            </li>
            <li class="nav-item" data-page="shopping-list">
                <a href="./shopping-list.html" class=" nav-link">SHOPPING LIST</a>
                <svg width="20" height="20" class="icon-sl-header">
                    <use href="./images/symbol-defs.svg#icon-basket"></use>
                </svg>
            </li>
            <li>
        </ul>
        <button type="button" class="log-out">Log out
            <svg width="20" height="20" class="logout-svg">
                <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </button>
        
    </div>
    <img src="./images/forBurger.png" class="image-menu" alt="books">
</div>

<div class="mobile-wrapper-signup is-hidden">
    <div class="mobile-container" data-menu>
        <button type="button" class="signup-burger">
           Sign up
            <svg width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </button>
        
    </div>
    <img src="./images/forBurger.png" class="image-menu" alt="books">
</div>