<section class="burger-sign-up">
    <nav>
      <button type="button" class="mbtn is-open" aria-expanded="false" aria-controls="menu-container" data-menu-button>
        <svg width="28" height="28" aria-label="Переключатель мобильного меню">
            <use class="icon-cross" href="./images/symbol-defs.svg#icon-modal-close"></use>      
            <use class="icon-menu" href="./images/symbol-defs.svg#icon-burger"></use>
          </svg>
        </button>
        <div class="container" id="container" data-menu>
          <button type="button" class="sign-up-btn">
            <p class="text-sign-up">Sign up</p>
            <svg width="20" height="20" class="logout-svg">
                <use href="./images/symbol-defs.svg#icon-arrow-right" class="modal-close"></use>
            </svg>
          </button>
          <img src="./images/forBurger.png" class="image-for-burger">
        </div>
      </nav>
    </section>