<footer class="footer">
    <div class="footer-block"></div>

    <ul class="footer-list is-hidden">
        <li class="footer-list-item"><a href="https://www.linkedin.com/in/iryna-rymar-4627b4275/"
                class="developers">Iryna</a></li>
        <li class="footer-list-item"><a href="#" class="developers">Anastasiya</a></li>
        <li class="footer-list-item"><a href="#" class="developers"></a>Viktoriya</li>
        <li class="footer-list-item"><a href="#" class="developers"></a>Denys</li>
        <li class="footer-list-item"><a href="#" class="developers"></a>Ivanna</li>
        <li class="footer-list-item"><a href="#" class="developers"></a>Anna</li>
        <li class="footer-list-item"><a href="#" class="developers"></a>Volodymyr</li>
        <li class="footer-list-item"><a href="#" class="developers"></a>Nina</li>
        <li class="footer-list-item"><a href="#" class="developers"></a>Yaroslav</li>
    </ul>
    <section class="section team">
        <div class="container">
            <h2 class="promo-title">Our Team</h2>
            <ul class="team-list list">
                <li class="team-info">
                    <img class="img" srcset="./images/Iryna.jpg" src="./images/Iryna.jpg" alt="Iryna" width="104"
                        height="100">
                    <div class="team-style">
                        <h3 class="team-title-name">Iryna</h3>
                        <p class="team-text">Team lead</p>
                        <ul class="social-list list">
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                    </svg>
                                </a>
                            </li>

                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="team-info">
                    <img class="img" srcset="./images/Anastasiya.jpg" src="./images/Anastasiya.jpg" alt="tom"
                        width="104" height="100" style>
                    <div class="team-style">
                        <h3 class="team-title-name">Anastasiya</h3>
                        <p class="team-text">Developer</p>
                        <ul class="social-list list">
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                    </svg>
                                </a>
                            </li>

                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="team-info">
                    <img class="img" srcset="./images/Viktoriya.jpg" src="./images/Viktoriya.jpg" alt="Viktoriya"
                        width="104" height="100">
                    <div class="team-style">
                        <h3 class="team-title-name">Viktoriya</h3>
                        <p class="team-text">Scrum Master</p>
                        <ul class="social-list list">
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                    </svg>
                                </a>
                            </li>

                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="team-info">
                    <img class="img" srcset="./images/Nina.jpg" src="./images/Nina.jpg" alt="Nina" width="104"
                        height="100">
                    <div class="team-style">
                        <h3 class="team-title-name">Nina</h3>
                        <p class="team-text">Developer</p>
                        <ul class="social-list list">
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                    </svg>
                                </a>
                            </li>

                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                    </svg>
                                </a>
                            </li>
                <li class="team-info">
                    <img class="img" srcset="./images/Ivanna.jpg" src="./images/Ivanna.jpg" alt="Ivanna"
                        width="104" height="100">
                    <div class="team-style">
                        <h3 class="team-title-name">Ivanna</h3>
                        <p class="team-text">Developer</p>
                        <ul class="social-list list">
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                    </svg>
                                </a>
                            </li>

                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                    </svg>
                                </a>
                            </li>
                <li class="team-info">
                    <img class="img" srcset="./images/Yaroslav.jpg" src="./images/Yaroslav.jpg"
                        alt="Viktoriya" width="104" height="100">
                    <div class="team-style">
                        <h3 class="team-title-name">Yaroslav</h3>
                        <p class="team-text">Developer</p>
                        <ul class="social-list list">
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-instagram">
                                        </use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-facebook">
                                        </use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-linkedin">
                                        </use>
                                    </svg>
                                </a>
                            </li>
                <li class="team-info">
                    <img class="img" srcset="#" src="#" alt="Denys" width="104" height="100">
                    <div class="team-style">
                        <h3 class="team-title-name">Denys</h3>
                        <p class="team-text">Developer</p>
                        <ul class="social-list list">
                        <li>
                            <a href="" class="team-social link">
                                <svg width="16" height="16" class="team-icon">
                                    <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                </svg>
                            </a>
                        </li>
                        <li>
                        <a href="" class="team-social link">
                            <svg width="16" height="16" class="team-icon">
                                <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="team-social link">
                            <svg width="16" height="16" class="team-icon">
                                <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                            </svg>
                        </a>
                    </li>
                <li class="team-info">
                    <img class="img" srcset="#" src="#" alt="Anna" width="104" height="100">
                    <div class="team-style">
                        <h3 class="team-title-name">Anna</h3>
                        <p class="team-text">Developer</p>
                        <ul class="social-list list">
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                    </svg>
                                </a>
                            </li>
                <li class="team-info">
                    <img class="img" srcset="#" src="#" alt="Volodymyr" width="104" height="100">
                    <div class="team-style">
                        <h3 class="team-title-name">Volodymyr</h3>
                        <p class="team-text">Developer</p>
                        <ul class="social-list list">
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="" class="team-social link">
                                    <svg width="16" height="16" class="team-icon">
                                        <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                    </svg>
                                </a>
                            </li>
                            </ul>
                            </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</footer>