<footer class="footer">
    <div class="footer-block">
    </div>
    <div class="container">
    
    
        <h2 class="promo-title">Our Team</h2>
                <ul class="team-list list">
                    <li class="team-info">
                        <img class="img" src="./images/Iryna.jpg" alt="Iryna" width="104" height="100">
                        <div class="team-style">
                            <h3 class="team-title-name">Iryna</h3>
                            <p class="team-text">Team lead</p>
                            <ul class="social-list list">
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/iryna-rymar-4627b4275/" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="team-info">
                        <img class="img" src="./images/Anastasiya.jpg" alt="tom" width="104" height="100" style>
                        <div class="team-style">
                            <h3 class="team-title-name">Anastasiya</h3>
                            <p class="team-text">Scrum Master</p>
                            <ul class="social-list list">
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="16" height="16" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="team-info">
                        <img class="img" src="./images/Viktoriya.jpg" alt="Viktoriya" width="104" height="100">
                        <div class="team-style">
                            <h3 class="team-title-name">Viktoriya</h3>
                            <p class="team-text">Developer</p>
                            <ul class="social-list list">
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/viktoriya-tsymbaliuk-1843a3a9/"
                                        class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
        
                    <li class="team-info">
                        <img class="img" src="./images/Nina.jpg" alt="Nina" width="104" height="100">
                        <div class="team-style">
                            <h3 class="team-title-name">Nina</h3>
                            <p class="team-text">Developer</p>
                            <ul class="social-list list">
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/nina-shvets-a66739287/" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="team-info">
                        <img class="img" src="./images/Ivanna.jpg" alt="Ivanna" width="104" height="100">
                        <div class="team-style">
                            <h3 class="team-title-name">Ivanna</h3>
                            <p class="team-text">Developer</p>
                            <ul class="social-list list">
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                        </svg>
                                    </a>
                                </li>
        
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="team-info">
                        <img class="img" src="./images/Anna.jpg" alt="Anna" width="104" height="100">
                        <div class="team-style">
                            <h3 class="team-title-name">Anna</h3>
                            <p class="team-text">Developer</p>
                            <ul class="social-list list">
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="team-info">
                        <img class="img" src="#" alt="Denys" width="104" height="100">
                        <div class="team-style">
                            <h3 class="team-title-name">Denys</h3>
                            <p class="team-text">Developer</p>
                            <ul class="social-list list">
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="team-info">
                        <img class="img" src="./images/Yaroslav.jpg" alt="Yaroslav" width="104" height="100">
                        <div class="team-style">
                            <h3 class="team-title-name">Yaroslav</h3>
                            <p class="team-text">Developer</p>
                            <ul class="social-list list">
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/yaroslav-kovbasa-68740794" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="team-info">
                        <img class="img" src="./images/Volodymyr.jpg" alt="Volodymyr" width="104" height="100">
                        <div class="team-style">
                            <h3 class="team-title-name">Volodymyr</h3>
                            <p class="team-text">Developer</p>
                            <ul class="social-list list">
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-instagram"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/volodymyr-buryak-83850a1b8/" class="team-social link">
                                        <svg width="12" height="12" class="team-icon">
                                            <use href="./images/symbol-defs.svg#icon-linkedin"> </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            
        
         
        
        
    
    
    
</footer>