<header class="header">
    <div class="container">
        <div class="header_container">
            <a href="./index.html" class="header_logo">
                <svg class="header_logo-icon" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-logo"></use>
                </svg>
                <span class="header_logo-text">Bookshelf</span>
            </a>
            <nav class="nav">
                <ul class="nav_list">
                    <li class="nav_item nav_item-current">
                        <a href="./index.html" class="nav_link">HOME</a>
                    </li>
                    <li class="nav_item">
                        <a href="./shopping-list.html" class="nav_link">SHOPPING LIST</a>
                        <svg class="nav_link-icon" width="20" height="20">
                            <use href="./images/symbol-defs.svg#icon-basket"></use>
                        </svg>
                    </li>
                </ul>
                <div class="toggle-switch">
                    <span>
                        <label for="theme-switch" class="switch">
                            <input id="theme-switch" type="checkbox" />
                            <span class="slider round"></span>
                        </label>
                    </span>
                </div>
                <button id="btn-hamburger" class="js-open-menu" aria-label="burger-menu">
                    <div class="line-1"></div>
                    <div class="line-2"></div>
                    <div class="line-3"></div>
                    <div class="line-4"></div>
                </button>
            </nav>
        </div>
    </div>
</header>
<!--Мобільне меню-->
<div class="mobile-menu js-menu-container">
    <div class="container mobile-menu_container mobile-menu_thumb">
        <ul class="mobile-menu_list">
            <li class="mobile-menu_item">
                <a href="./index.html" class="mobile-menu_link nav_item-current">HOME</a>
            </li>
            <li class="mobile-menu_item">
                <a href="./shopping-list.html" class="mobile-menu_link">SHOPPING LIST
                    <svg class="mobile-menu_icon" width="20" height="20">
                        <use href="#"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <img class="mobile-menu_img" src="#" alt="books" />