<header class="header">
    <div class="container">
        <div class="header-container">
            <a href="./index.html" class="header-logo">
                <svg class="header-logo-icon" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-logo"></use>
                </svg>
                <span class="header-logo-text">Bookshelf</span>
            </a>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item nav-item-current" data-page="index">
                        <a href="./index.html" class=" nav-link">HOME</a>
                    </li>
                    <li class="nav-item" data-page="shopping-list">
                        <a href="./shopping-list.html" class=" nav-link">SHOPPING LIST</a>
                        <svg width="20" height="20" class="icon-sl-header">
                            <use href="./images/symbol-defs.svg#icon-basket"></use>
                        </svg>
                    </li>
                </ul>
            </nav>            
            <div class="toggle-switch">
                <span>
                    <label for="theme-switch" class="switch">
                        <input id="theme-switch" type="checkbox" />
                        <span class="slider round"></span>
                    </label>
                </span>
            </div>
            <div class="mobile-menu">
                <button type="button" class="mbtn" aria-expanded="false" aria-controls="menu-container"
                    data-menu-button>
                    <svg width="28" height="28" aria-label="switch-mobile-menu">
                        <use class="icon-menu" href="./images/symbol-defs.svg#icon-burger"></use>
                        <use class="icon-cross" href="./images/symbol-defs.svg#icon-modal-close"></use>
                    </svg>
                </button>
            </div>


            <div class="header-buttons">


                <button type="button" class="signup-header">
                    <p class="text-sign-up">Sign up</p>
                    <svg width="20" height="20">
                        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
                <div class="wrapper-button">
                    <div class="div-stephen-header">
                        <img src="./images/Stephen.png" class="stephen">
                        <p class="text-stephen"></p>
                        <svg width="23" height="26" class="sign-up-svg">
                            <use href="./images/symbol-defs.svg#icon-caret-down"></use>
                        </svg>
                    </div>
                    <button type="button" class="log-out">Log out
                        <svg width="20" height="20" class="logout-svg">
                            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
</header>

