<div class="modal-wrapper js-modal is-hidden">
    <div class="modal-window">
        <button type="button" class="btn-modal-close js-modal-close" data-modal-close>
            <svg width="24" height="24" class="modal-svg">
                <use href="./images/symbol-defs.svg#icon-modal-close" class="modal-close"></use>
            </svg>
        </button>
        <div class="modal-main">

            <div class="book-modal-wrap js-modal-book">
            </div>

            <ul class="modal-shops">
                <li class="modal-shops-item">
                    <a class="modal-link js-modal-link" href="#" target="_blank" name="Amazon"
                        rel="noreferrer noopener">
                        <img class="modal-img-shop" src="./images/amazon.png" alt="amazon store">
                    </a>
                </li>
                <li class="modal-shops-item">
                    <a class="modal-link js-modal-link" href="#" target="_blank" name="Apple Books"
                        rel="noreferrer noopener">
                        <img class="modal-img-shop" src="./images/apple-book.png" alt="apple store">
                    </a>
                </li>
                <li class="modal-shops-item">
                    <a class="modal-link js-modal-link" href="#" target="_blank" name="Barnes and Noble"
                        rel="noreferrer noopener">
                        <img class="modal-img-shop" src="./images/barnes-noble.png" alt="barnes and noble store">
                    </a>
                </li>
            </ul>
        </div>
        <div class="modal-btn-wrapper"><button type="button" class="modal-btn-main js-modal-btn"></button>
            <p class="modal-bottom-text">Сongratulations! You have added the book to the shopping list. To
                delete,
                press the
                button “Remove from the
                shopping
                list”.</p>
        </div>
    </div>
</div>