<div class="form-wrapper is-hidden">
    <div class="form-window">
        <button type="button" class="btn-form-close js-form-close" data-modal-close>
            <svg width="24" height="24" class="modal-svg">
                <use href="./images/symbol-defs.svg#icon-modal-close" class="modal-close"></use>
            </svg>
        </button>
        <form>
            <input class="form-input" type="text" placeholder="NAME" name="name" id="userName" required>
            <input class="form-input" type="text" placeholder="Enter email" name="email" id="email" required>
            <input class="form-input" type="password" placeholder="Password" name="psw" id="psw" required>

        </form>
        <button class="btn-form" type="button" id="signup" name="signup" class="signupbtn">Sign up</button>
        <a href="" id="signin" class="signinbtn">Sign up</a>
        <a href="" id="logout" class="logoutbtn">Sign in</a>
    </div>
</div>