<section class="support">
    <div class="container foundations">
        <div class="support-content">
            <div class="foundations-title">
                <h3 class="foundations-title-text">Support Ukraine </h3>
                <span>
                    <svg width="20" height="32" class="icon-emblem">
                       <use href="./images/icons.svg#icon-emblem"></use>
                    </svg>
                </span>
            </div>
        <ul class = "blocks"></ul>
                </div>
        <div class="buttons">
        <button type= button class="button-scroll-down" >
                <svg width="12" height="16" class="icon-arrow">
                    <use href="./images/icons.svg#icon-arrow"></use>
                </svg>
        </button>
        <button type=button class="button-scroll-up">
            <svg width="12" height="16" class="icon-arrow">
                <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
        </button>
        </div>
    </div>
   

</section>

