.category-head {
 color: var(--text-color);
 font-size: 16px;
}

.category-list {
    margin-top: 40px;
    margin-bottom: 40px;
}

.categories-list-item {
  font-size: 16px;
  list-style: none;
  margin-top: 24px;
}

.active {
    color: var(--violet);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .category-list {
        margin-bottom: 100px;
}
   
   .category-head {
    font-size: 18px;
   }

   .categories-list-item {
    font-size: 18px;
    margin-top: 32px;
   }

   .active {
    font-size: 18px;
   }

}

@media screen and (min-width: 1440px) {
    .category-list {
        margin-bottom: 86px;
    }
}
