.footer-block {
  background-position: center;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid var(--violet);
  border-radius: 40px;
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.29;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  display: flex;
  background-color: var(--violet);
  justify-content: center;
  align-items: center;
  /* right: 100%; */
}

.promo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 0 40px;

}

.img {
  display: block;
  margin: auto;
  border-radius: 25%;
  padding: 2px;
}

.team-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px 10px;
  margin: 0 auto;
}

.team-info {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  display: block;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}

.team-style {
  padding: 32px 0;
  text-align: center;
}

.team-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--violet);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social:is(:hover, :focus) {
  background-color: var(--violet);
}

.team-icon {
  fill: currentColor;
}

.team-icon:is(:hover, :focus) {
  fill: var(--second-title-color);
  box-shadow: var(--text-color);
}

@media screen and (min-width: 768px) {

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .team-info {
    width: calc((100% - 20px)/3);
  }
}

@media screen and (min-width: 1440px) {
  .team-list {
    flex-wrap: nowrap;
  }

  .team-info {
    width: calc((100% - 80px)/9);
  }
}