.footer-block {
  /* background-color: #4f2ee8;;
  background-position: left;
  border-radius: 50%;
  border: #000000;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 25%;
  transition: transfrorm cubic-bezier(.4, 0, .2, 1);
  border: none;
  cursor: pointer;
  bottom: 30px; */

  background-position: center;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid var(--violet);
  border-radius: 40px;
  padding: 14px 28px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  /* width: 110px; */
  height: 50px;
  /* right: 100%; */
}

.promo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 0 72px;

}
.img {
  display: block;
  border: 1px solid #000000;
  margin: auto;
  border-radius: 25%;
  padding: 2px;
}

.team-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px 10px;
  margin: 0 auto;
}

.team-info {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--header);
  display: block;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}

.team-style {
  padding: 32px 0;
  text-align: center;
}

.team-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--violet);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social:is(:hover, :focus) {
  background-color: var(--violet);
}

.team-icon {
  fill: currentColor;
}

.team-icon:is(:hover, :focus) {
  fill: var(--second-title-color);
  box-shadow: #000000;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
    .team-info {
      width: calc((100% - 20px)/3);
    }
}

@media screen and (min-width: 1440px) {
  .team-list {
    flex-wrap: nowrap;
  }
    .team-info {
      width: calc((100% - 80px)/9);
    }
}

