.header {
  /* z-index: 21; */
  position: relative;
  width: 100%;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
  padding: 18px 20px;
}

.header_container {
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: space-between;
}
.header-buttons {
  display: flex;
  gap: 24px;
}
.header_logo-text {
  color: var(--text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.29;

  letter-spacing: -0.04em;
}

.header_logo {
  margin-right: 40px;
}

.header_logo-icon {
  text-align: center;
  margin: 0 auto;
}

.nav_list {
  display: none;
}

.signup-header {
  display: none;
}

@media screen and (min-width: 767px) {
  .nav {
    display: flex;
    margin-right: auto;
    align-items: center;
  }
  .nav_list {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .nav_item {
  display: flex;
align-items: center;
  } 

  .signup-header {
    display: inline-flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    width: 184px;
    height: 48px;
    background-color: var(--violet);
    border-radius: 18px;
    border: 1.5px solid #111;
    padding: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
