.header {
  position: relative;
  width: 100%;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
  padding: 18px 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-logo-text {
  color: var(--text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.29;

  letter-spacing: -0.04em;
}

.header-logo {
  margin-right: 40px;
}

.header-logo-icon {
  text-align: center;
  margin: 0 auto;
}

.nav-list {
  display: none;
}

.signup-header {
  display: none;
}

@media screen and (min-width: 767px) {
  .nav {
    display: none;
    margin-right: auto;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .nav-item {
    display: flex;
    align-items: center;
  }
  .icon-sl-header {
    stroke: #111;
  }
  .nav-item-current {
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    width: 72px;
    height: 34px;
    border-radius: 36px;
    background: #eac645;
  }
  .signup-header {
    display: inline-flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    width: 184px;
    height: 48px;
    background-color: var(--violet);
    border-radius: 18px;
    border: 1.5px solid #111;
    padding: 14px;
  }
  .div-stephen-header {
    display: none;
    width: 184px;
    height: 45px;
    align-items: center;
    padding: 8px 12px;
    gap: 9px;
    border-radius: 36px;
    background: var(--violet);
  }
  .log-out-header {
    width: 184px;
    height: 48px;
    display: none;
    justify-content: space-between;
    padding: 14px;
    border-radius: 18px;
    border: 1.5px solid #111;
    background: #fff;
    color: var(--text-color);
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
