.modal-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.4);
}

.modal-window {
  width: 335px;
  max-height: 762px;
  position: relative;
  margin: auto;
  padding: 40px 24px;
  color: var(--text-color);
  border-radius: 18px;
  border: 2px solid var(--text-color);
  background-color: var(--body-bg-light);
}

.modal-svg {
  stroke: black;
}

.btn-modal-close {
  display: flex;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: red;
  border: none;
}

.modal-img {
  max-width: 287px;
  height: 408px;
  border-radius: 8px;
  border: var(--text-color) 2px solid;
  margin-bottom: 14px;
}

.modal-title {
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
}

.modal-autor {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
  color: var(--top-category-title);
  margin-bottom: 18px;
}

.modal-descr {
  line-height: 1.29;
  letter-spacing: -0.56px;
  height: 70px;
  margin-bottom: 14px;
}

.modal-shops {
  display: flex;
  gap: 20px;
  width: 173px;
  align-items: center;
  margin-bottom: 40px;
}

.modal-img-shop {
  filter: grayscale(100%);
}

.modal-btn-wrapper {
  padding: 0 4px;
  margin: 0 auto;
}

.modal-btn-main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  color: var(--text-color);
  display: block;
  margin: auto;
  padding: 14px 28px;
  border-radius: 40px;
  border: 2px solid var(--violet);
  background-color: inherit;
}

.modal-btn-main-remove {
  padding: 14px 20px;
}

.modal-bottom-text {
  display: block;
  width: 242px;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  text-align: center;
  color: --bgc-modal;
  margin: 8px auto 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden-text {
  display: none;
}
