.modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--bgc-modal);
  z-index: 500;
  transition: all var(--time-transform) var(--transform);
}

.modal-window-wrap {
  width: 339px;
  height: 90%;
  background-color: transparent;
  border: none;
}

.is-open-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.no-scroll-modal {
  overflow: hidden;
}

.modal-wrapper.is-open-modal .modal-window {
  opacity: 1;
  transform: translate(0px, 0%);
}

.modal-window {
  padding: 38px 22px;
  color: var(--text-color);
  border-radius: 18px;
  border: 2px solid var(--text-color);
  background-color: var(--body-bg-light);
  opacity: 0;
  transform: translate(0px, -100%);
  transition: all var(--time-transform) var(--transform);
}

.modal-svg {
  stroke: var(--text-color);
  fill: white;
  transition: all var(--time-transform) var(--transform);
}

.btn-modal-close {
  display: flex;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  z-index: 2;
  transition: all var(--time-transform) var(--transform);
}

.modal-img-wrap {
  display: flex;
  width: 100%;
  height: 408px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 14px;
  overflow: hidden;
  outline: none;
  background: url('../images/icon-plug.svg') no-repeat center;
  background-size: 60px 54px;
}

.modal-img {
  min-height: 100%;
  height: unset;
}

.modal-title {
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
}

.modal-autor {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
  color: var(--modal-text-autor);
  margin-bottom: 18px;
}

.modal-descr {
  line-height: 1.29;
  letter-spacing: -0.56px;
  height: 70px;
  margin-bottom: 14px;
  overflow: auto;
}

.modal-shops {
  display: flex;
  gap: 20px;
  width: 173px;
  align-items: center;
}

.modal-img-shop {
  transition: all var(--time-transform) var(--transform);
}

.modal-btn-wrapper {
  margin: 40px auto 0;
  height: auto;
  width: 100%;
  transition: all var(--time-transform) var(--transform);
}

.modal-btn-main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  color: var(--text-color);
  display: block;
  position: relative;
  width: auto;
  margin: auto;
  padding: 12px 26px;
  border-radius: 40px;
  border: 2px solid var(--violet);
  background-color: transparent;
  scale: 1;
  transition-property: background-color, scale;
  transition-duration: var(--time-transform);
  transition-timing-function: ease;
  z-index: 1;
}

.js-modal-remove {
  padding: 14px 20px;
}

.modal-btn-main:active {
  scale: 0.95;
  background-color: var(--violet);
}

.modal-bottom-text {
  display: block;
  font-size: 10px;
  width: 242px;
  padding-top: 8px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--modal-text-light);
  margin: auto;
  opacity: 1;
  transform: translateY(0px);
  transition: all 200ms var(--transform);
}

.modal-bottom-text.js-hidden-text {
  opacity: 0;
  height: 0;
  padding-top: 0;
  visibility: hidden;
  transform: translateY(-100%);
}

/* ________________________768px___________________________________ */

@media screen and (min-width: 768px) {

  .modal-window-wrap {
    width: 583px;
    height: 80vh;
  }

  .modal-window {
    width: 100%;
    padding: 38px;
  }

  .book-modal-wrap {
    display: flex;
    margin-bottom: 0;
  }

  .btn-modal-close {
    width: 28px;
    height: 28px;
    top: 16px;
    right: 16px;
  }

  .modal-img-wrap {
    width: 192px;
    height: 281px;
    margin: 0 24px 0 0;
  }

  .modal-title {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.96px;
    margin-bottom: 8px;
  }

  .modal-autor {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.56px;
    margin-bottom: 20px;
  }

  .modal-descr {
    width: 279px;
    margin-bottom: 20px;
    overflow: unset;
    /* можна забрати */
    min-height: 70px;
    /* можна забрати */
    height: unset;
    /* можна забрати */
  }

  .modal-shops {
    margin-bottom: auto;
  }

  .modal-btn-main {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
    padding: 18px;
    width: 499px;
    height: auto;
  }

  .js-modal-remove {
    width: 499px;
    padding: 20px;
  }

  .modal-bottom-text {
    width: 324px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.48px;
  }

  .modal-btn-main:hover {
    color: var(--white);
    background-color: var(--violet);
    box-shadow: 0 0 3px var(--violet);
    text-shadow: 0 0 3px var(--white);
  }

  .modal-link:is(:hover) .modal-img-shop {
    scale: 1.3;
    filter: drop-shadow(0 7px 2px rgba(17, 17, 17, 0.2));
  }

  .modal-svg:hover {
    filter: drop-shadow(0 0 1px var(--violet));
    stroke: var(--violet);
  }

  .btn-modal-close:is(:hover, :focus) .modal-svg,
  .modal-btn-main :is(:hover, :focus) {
    scale: 1.5;
  }

  .btn-modal-close:is(:active) .modal-svg {
    scale: 0.95;
  }
}

/* ________________________1440px___________________________________ */

@media screen and (min-width: 1440px) {
  .modal-window-wrap {
    height: 506px;
  }
}