@import url('./dark-theme.css');
.support {
  display: none;
  padding-top: 40px;
}
.link-book-shop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.shopping-list-title {
  font-size: 32px;

  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -1.28px;

  margin-bottom: 120px;
}
.shop-title {
  color: var(--text-color);
}
.s-l-title {
  color: var(--violet);
}

.text-shop-list {
  color: var(--text-shop-list-light);
  text-align: center;

  line-height: 1.28;
  letter-spacing: -0.28px;
  margin-bottom: 14px;
}
.shop-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.message {
  width: 265px;
  height: 248px;

  margin: 0 auto;
}
.shopping-card {
  position: relative;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background-color: var(--header-bg-light);
  height: 170px;
  padding: 14px 14px;
  display: flex;
}

.shopping-image {
  border-radius: 8px;

  height: 142px;
  margin-right: 14px;
}
.books-sh-container {
  width: 193px;
}
.title-shop-list {
  width: 144px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shopping-category {
  color: var(--top-category-title);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.36px;
  margin-bottom: 8px;
}
.shopping-description {
  color: var(--text-color);

  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shopping-description-container {
  height: 68px;
  margin-bottom: 16px;
}
.shopping-author {
  color: var(--top-category-title);

  font-size: 12px;
  font-style: italic;

  line-height: 1.16;
  letter-spacing: -0.48px;

  width: 96px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.delete-button {
  position: absolute;
  top: 14px;
  right: 14px;
  border-radius: 50px;
  background-color: var(--delete-button);
  border: none;
  width: 28px;
  height: 28px;
}
.delete-button:is(:hover) {
  scale: 1.3;
  filter: drop-shadow(0 7px 2px rgba(88, 135, 236, 0.2));
}
.shopping-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.amazon-img {
  max-width: 32px;
  height: 11px;
}
.shopping-img-store {
  width: 16px;
  height: 16px;
}
.list-shops {
  display: flex;
  align-items: center;
  gap: 8px;
}
.book-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.shopping-descr {
  width: 193px;
}

@media screen and (min-width: 768px) {
  .shopping-list-title {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
    margin-bottom: 140px;
  }
  .text-shop-list {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    margin-bottom: 20px;
  }
  .message {
    width: 349px;
    height: 309px;
  }
  .shop-img {
    width: 322px;
    height: 241px;
    margin: 0 auto;
  }
  .shopping-image {
    height: 165px;
    width: 116px;
    margin-right: 24px;
  }
  .book-card-title {
    width: 166px;
  }
  .shopping-description-container {
    height: 53px;
    margin-bottom: 32px;
  }
  .shopping-card {
    height: 213px;
    padding: 24px;
  }
  .amazon-img {
    width: 48px;
    height: 15px;
  }
  .shopping-img-store {
    width: 28px;
    height: 27px;
  }
  .list-shops {
    gap: 16px;
  }
  .shopping-author {
    white-space: normal;
    text-overflow: initial;
    width: auto;
    overflow: visible;
  }
  .book-card-title {
    white-space: normal;
    text-overflow: initial;
    width: auto;
    overflow: visible;
  }
  .shopping-descr {
    width: 508px;
  }
}
@media screen and (min-width: 1440px) {
  .support {
    display: block;
  }
  .shopping-list-title {
    margin-bottom: 140px;
  }
  .message {
    position: absolute;
    top: 60%;
    left: 50%;

    padding: 10px;
    transform: translateY(-50%);
  }
  .shopping-description {
    white-space: normal;
    text-overflow: initial;
    width: auto;
    overflow: visible;
  }
  .shopping-descr {
    width: 808px;
  }
}
