.support {
    margin-top: 100px;
}
.foundations {

display: block;
padding-top: 24px;
border: 1px solid #4F2EE8;
border-radius: 16px;
background-color: #4F2EE8;
height: 352px;
}

.ulfounds {
 width: fit-content;
}

.blocks {
    margin-top: 40px;
   
    height: 188px;
    overflow: hidden;
}

.block {
    display: block; 
}

.block:not(:last-child) {
    margin-bottom: 20px;
}

.foundations-title {
    /* position: fixed; */
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #FFFFFF;
}

.foundations-title-text {
font-size: 22px;
}

.gotofoundation {
    display: flex;
    gap: 16px;
    color: #FFFFFF;
}
.image {
    width: 200px;
    height: 33px;
    filter: brightness(0) invert(1)
     
}
.support-content {
    padding-left: 40px;

}
.support-button-scroll {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 16px;
    margin-left: 111px;
}



@media screen and (min-width: 768px) {
    .container.support {
        max-width: 335px;
        padding-left: 32px;
        padding-right: 32px;
        margin-left: 0;
    }
}

@media screen and (min-width: 1440px) {
    .container.support {
        max-width: 356px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

/* @media screen and (min-width: 375px) {
    .container {
       
        width: 335px;
    }

    .mob-menu-soc {
        justify-content: left;
        gap: 56px;

    }} */