.books-section {
  background: black;
}
.name-top-category {
  color: var(--top-category-title);
}
.book-card-title {
  color: var(--white);
}
.book-card-author {
  color: var(--top-category-title);
}
.see-more-btn {
  color: var(--white);
  border: 2px solid var(--violet);
}
