.center-loader{
  display: flex;
  justify-content: center
}
/* Loader */
.loader {
  width: 200px;
  height: 140px;
  background: #979794;
  box-sizing: border-box;
  position: relative;
  border-radius:8px;
  perspective: 1000px;
}

.loader:before{
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius:8px;
  background: #f5f5f5  no-repeat;
  background-size: 60px 10px;
  background-image: 	linear-gradient(#ddd 100px, transparent 0) ,
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0);
  
  background-position: 15px 30px , 15px 60px , 15px 90px, 
            105px 30px , 105px 60px , 105px 90px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.loader:after {
  content: '';
    position: absolute;
    width: calc(50% - 10px);
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 8px;
    background: #fff no-repeat;
    background-size: 60px 10px;
    background-image: linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0);
    background-position: 50% 30px ,50% 60px , 50%  90px;
    transform: rotateY(0deg );
    transform-origin: left center;
  animation: paging 1s linear infinite;
}


@keyframes paging {
  to {
    transform: rotateY( -180deg );
  }
}

/* Top Books */
.books-section-title {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.19; /* 118.75% */
  letter-spacing: -1.28px;
}

.top-category-item {
  margin-bottom: 40px;
}
.name-top-category {
  color: var(--top-category-title);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.books-container {
  margin-bottom: 8px;
}
.book-card {
  width: 100%;
  margin: 0 auto;
}
.book-card-img {
  display: block;
  height: 485px;
  width: 100%;
  margin-bottom: 14px;
}
.book-card-title {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13; /* 112.5% */
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.book-card-author {
  color: var(--top-category-title);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: -0.48px;
}
.see-more-btn {
  color: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.14px;
  text-transform: uppercase;
  border-radius: 40px;
  border: 2px solid var(--violet);
  background-color: transparent;
  padding: 14px 28px;
  transition: color var(--time-transform) var(--transform);
}

.see-more-btn:hover,
.see-more-btn:focus {
  background-color: var(--violet);
  color: var(--white);
}

.btn-container-top-books {
  display: flex;
  justify-content: flex-end;
}
.top-books-container .book-card:not(:first-child){
  display: none;
} 

@media screen and (min-width: 768px) {
  .book-card {
    width: calc((100% - 50px) / 3);
  }
  .books-container {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
  }
  
  .book-card-img {
    display: block;
    height: 316px;
  }
  .books-section-title {
    font-size: 48px;
    line-height: 1.08; /* 108.333% */
    letter-spacing: -1.92px;
  }
  /* .top-books-container .book-card:nth-child(even){
    display: none;
  }  */
  .top-books-container .book-card:nth-child(odd){
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .book-card {
    width: calc((100% - 96px) / 5);
  }
  .books-container {
    gap: 24px;
    margin-bottom: 32px;
  }
  .top-books-container .book-card:not(:first-child){
    display: block;
  }
}
