:root {
  --transform: cubic-bezier(0.4, 0, 0.2, 1);
  --body-bg-light: #f6f6f6;
  --body-bg-dark: #202024;
  --violet: #4f2ee8;
  --yellow: #eac645;
  --white: #fff;
  --top-category-title: #b4afaf;
  --text-color: #111;
  --bgc-modal: rgba(17, 17, 17, 0.5);
}
